<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900706578476-0qhjvjbi5cl6bn18avgb04kio4e7vg11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900706578476-0qhjvjbi5cl6bn18avgb04kio4e7vg11</string>
	<key>API_KEY</key>
	<string>AIzaSyCyhtHvnfGWNjT7Xgepz9dFi1WnUT9IxcU</string>
	<key>GCM_SENDER_ID</key>
	<string>900706578476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greg.flutterFirebaseConfig</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-config-12689</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-config-12689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900706578476:ios:16f7fc7bfd696fa55ba189</string>
</dict>
</plist>